/*https://www.web-dev-qa-db-es.com/es/javascript/como-leer-un-archivo-json-local-externo-en-javascript/1043362222/#:~:text=json)%20usando%20javascript%2C%20primero%20cree,junto%20con%20el%20archivo%20javascript.*/


nav
{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 2rem;
  background: rgb(52, 13, 13);
  z-index: 2;
  
}

header 
nav 
ul 
{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 0;
    padding:0;
    margin: 0;
    justify-content: center;
  align-items: center;
}

header 
nav 
ul 
.lista
{
    display: flex;
    position:relative;
    flex-direction: column;
    flex-grow: 1;
    z-index: 2;
    width: 10%;
    justify-content: center;
  align-items: center;

}


                    header 
                    nav 
                    ul 
                    .lista
                    a
                    {
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        text-decoration: none;
                        font-family: monospace;
                        font-size: 1rem;
                        z-index: 2;
                        
                    }


                    header 
                    nav 
                    ul 
                    .lista
                    a
                    .icon
                    {
                        height: 70%;
                        width: auto;
                        color: white;
                        z-index: 2;
                    }

header 
nav 
ul 
.lista
a
.texto
{
    color: red;
    font-weight: 400;
    z-index: 2;
}

.imagen
 {
    width: 100%;
    height: 50%;
    display: flex;
    position: fixed;
    top: 2%;
    justify-content: center;

 }

 .imagen img
{
    display: flex;
    position: fixed;
    position: relative;
    z-index: 0;
    
}

.container
{
    display: flex;
    flex-direction: column;
    background: gray;
    position: absolute;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    top: 50%;
    z-index: 1;
    height: 1800px;
    width: 80%;
    border-radius: 10px;
    border: 2px solid black;
}

/*tarjetas*/
.container
.explicacion
{
    display: flex;
    height:20%;
    width: 90%;
    gap: 1rem;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: center;
    align-items: center;

}
.container
.explicacion
.paso
{
    display: flex;
    flex-direction: row;
    height: 10rem;
    width: 10rem;
    border: 1px solid black;
    
}



.json
{
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;
    border: 2px solid blue;
    
    height: auto;
    width: 100%;
}

.container
.json
.child
{
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid orange;
}
.container
.json
.child:hover
{
    border: 1px solid black;
}
/*funciono?*/
/*CONTENEDOR PANEL, =>(CHILD) CARRITO, CUENTA*/
.containerPanel
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    right: 0;
    top: 2rem;
    z-index: 2;
    height: 100%;
    opacity: 0.5;
    transition: 0.5s;
}                                   .containerPanel:hover
                                    {
                                        opacity: 1;   
                                    }
                                    .containerLista{
                                        display: none;
                                        background: orange;
                                        height: 100%;
                                        opacity: 0.25;
                                        transform: translateX(20rem);
                                        transition: 0.5s;
                                       

                                    }
                                    .containerPanel:hover 
                                    .iconChango
                                    ~.containerLista{
                                        display: block;
                                        opacity: 1;
                                        transform: translateX(0rem);
                                        
                                    }

.containerPanel 
.iconChango-
{
    border: 1px solid red;
    display: flex;
    position: relative;

}
.containerPanel 
.iconChango
ul
{
   
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    
}

.containerPanel 
.iconChango
ul
li
{
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    height: 3.5rem;

}
#icon
{
    display: flex;
    background: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    color: black;
    font-size: 1.5rem;
}
#carritoCont{
    display: flex;
    position: absolute;
    color: black;
    font-weight: 700;
    background: white;
    width: 1rem;
    height: 1rem;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    top: -0.5rem;
    left:-0.5rem;
    border: 1px solid black;
}
#carritoTotal
{
    display: flex;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}


/*CONTAINERLISTA*/
.containerLista
{
    border: 1px solid black;
}


                                    /*CUENTA*/
                                    .total
                                    {
                                        width: 100%;
                                        height: auto;
                                    }

                                  
                                    .listacompra
                                    {
                                        border: 1px solid red;
                                        display: block;
                                        position: relative;
                                        width: auto;
                                        height: auto;
                                        text-align: center;

                                    }

                                    .containerLista 
                                    .listacompra
                                    td
                                    {
                                        border: 1px solid green;
                                    }

                                    .listacompra 
                                    thead 
                                    td
                                    {
                                        font-weight: 700;
                                    }
                                   


/*BOTONES CUENTA*/


.btnAgregar,.btnEliminar{
    color: white;
    border-radius: 10px;
}

.btnEliminar:hover, .btnAgregar:hover
{
    box-shadow: 0 0 4px white;
    color: orange;
}

                                .btnEliminar
                                {
                                    background: rgb(67, 11, 11);
                                
                                }
                                .btnAgregar
                                {
                                    background: rgb(11, 67, 14);
                                
                                }

/*BOTONES */
.btnTerminarCompra,
.btnBorrar

{
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 00.5rem;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    background: rebeccapurple;
                                    }
                                    .btnTerminarCompra:hover,
                                    .btnBorrar:hover
                                    {
                                       box-shadow: 0 0 4px white;
                                       color: orange;

                                    }

                                    .total 
                                    text
                                    {
                                        font-weight: 600;
                                    }
#datosContacto 
{
    
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

#datosContacto input, #datosContacto textarea
{
    margin-top: 1rem;
}

#datosContacto button, .btnenviarPedido
{
    text-align: center;
    text-decoration: none;
    background: darkblue;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 1rem;
}