
:root{
    --top:5rem;
}

/*-------media menos de 500 px---------*/
@media screen and (max-width: 500px) {
    
    header
    nav{
        display: flex;
        height:var(--top);
        
    }

    header
    nav
    ul{
        display: flex;
        height:var(--top);
        position: relative;
        flex-wrap: wrap;
        flex-direction: row;
        
    
    }

    header
    nav
    ul
    .lista{
        height:2rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;

    }

    .containerPanel
    {
        top:var(--top);

    }
    .imagen img{
        top: 3rem;
    }

    .container{
        margin-left: 2%;
        top: 57%;
    }

}
